@( users: List[rvk.recipe.model.User], userForm: Form[rvk.recipe.model.User], strError: String )

@import helper._
@import rvk.recipe.controllers._

@main(Messages("page.manager.user.title")) {

	<h4 class="text-muted">@strError</h4>
	
  <h3>@users.size() - Users</h3>
    <ul>@for(user <- users) {
    	<li>
    		<b><u>UserID is @user.id</u></b>
    	</li>
    	<li>
    		Nickname - @user.nickname
    	</li>
    	<li>
    		Password - @user.password
    	</li>
    	<li>
    		Email - @user.email
    	</li>
    	<li>
    		Fullname - @user.fullname
    	</li>
    	<li>
    		Telephone - @user.telephoneNumber
    	</li>
    	<li>
    		Address - @user.address
    	</li>
    	<li>
    		UserRole - @user.role
    	</li>
    } </ul>
    
    <hr/>    
    <h3>Add a new User</h3>
    @form(routes.ToolsManager.newUser()) {
    	@inputText(userForm("nickname"))
    	@inputText(userForm("password"))
    	@inputText(userForm("email"))
    	@inputText(userForm("role"))
    	<input type="submit" value='@Messages("button.create")'>
    }
}