@( recipes: List[rvk.recipe.models.Recipe]=null )

@import helper._
@import rvk.recipe.controllers._

@main(Messages("page.recipe.title")) {
	@helper.form(routes.Recipes.newRecipe, 'class -> "form") {
    <div class="row">
    
      <div class="col-md-12">
        <input type="submit" value='@Messages("button.create.title")' class="btn btn-default" />
      </div>
    
    </div>
	}
	<h2>@Messages("page.recipe.title")</h2>
	
	<div class="row">
    <div class="col-md-1 title">
      <b>@Messages("lable.recipe.id")</b>
    </div>
    <div class="col-md-7 title">
      <b>@Messages("lable.recipe.title")</b>
    </div>
    <div class="col-md-1 title">
      <b>@Messages("lable.recipe.privating")</b>
    </div>
    <div class="col-md-1 title">
      <b>@Messages("lable.recipe.visiting")</b>
    </div>
    <div class="col-md-1 title">
      <b>@Messages("lable.recipe.rating")</b>
    </div>
    <div class="col-md-1 title"></div>
  </div>
  <hr/>
	@if(recipes!=null){
		@for(r <- recipes) {
      @helper.form(routes.Recipes.editRecipe(r.id), 'class -> "form") {
      <div class="row">
    		<div class="col-md-1">
      		@r.id
    		</div>
    		<div class="col-md-7">
      		@r.title
    		</div>
    		<div class="col-md-1">
      		<input type="checkbox" checked="@r.isPrivate" disabled="disabled"/>
    		</div>
    		<div class="col-md-1">
      		@r.visiting
    		</div>
    		<div class="col-md-1">
      		@r.rating
    		</div>
    		<div class="col-md-1">
      		<input type="submit" value='@Messages("button.recipe.edit")' class="btn btn-default"/>
    		</div>
    	</div>
    	}
    }
  }
}