
@main(Messages("page.about.title")) {

  <div class="row">
  	<div class="col-md-8 col-xs-12 col-sm-6">
      <ul class="media-list">
      	
      	<li class="media">
          <img class="pull-right media-object"
            src='@routes.Assets.at("img/rvk.gif")' alt="RVK" /></a>
          <div class="media-body">
            <h4 class="media-heading">Inspired by RVK</h4>
            <p>@Messages("text.about.rvk")</p>
          </div></li>
  
        <li class="media"><a href="http://komora.kryshchuk.com/" class="pull-right">
          <img class="pull-right media-object"
            src='@routes.Assets.at("img/logo-komora.png")' alt="KOMORA" /></a>
          <div class="media-body">
            <h4 class="media-heading">Inspired by KOMORA</h4>
            <p>@Messages("text.about.komora")</p>
          </div></li>
  
        <li class="media"><a href="http://www.playframework.com/" class="pull-right">
          <img class="media-object"
            src='@routes.Assets.at("img/logo-playframework.png")' alt="Play!" /></a>
          <div class="media-body">
            <h4 class="media-heading">Runs with Play!</h4>
            <p>@Messages("text.about.play")</p>
          </div></li>
          
        <li class="media"><a href="http://getbootstrap.com/" class="pull-right">
          <img class="pull-left media-object"
            src='@routes.Assets.at("img/logo-bootstrap.png")' alt="Bootstrap" /></a>
          <div class="media-body">
            <h4 class="media-heading">Decorated by Bootstrap</h4>
            <p>@Messages("text.about.bootstrap")</p>
          </div></li>
  
        <li class="media"><a href="http://joscha.github.io/play-authenticate/" class="pull-right">
          <img class="media-object"
            src='@routes.Assets.at("img/logo-playauthenticate.png")' alt="Play! Authenticate" /></a>
          <div class="media-body">
            <h4 class="media-heading">Relies on Play! Authenticate</h4>
            <p>@Messages("text.about.play_authenticate")</p>
          </div></li>
  
      </ul>
    </div>
  </div>

}