@(localUser: rvk.recipe.models.User = null)

@import com.feth.play.module.pa.views.html._

@main(Messages("page.profile.title"),"profile") {

    <h1>@Messages("page.profile.title")</h1>
    <table>
      <tr>
        <td>@Messages("lable.profile.email") :</td>
        <td><b>@if(!localUser.email) {<em>&lt;unknown&gt;</em>.} else {@localUser.email.}</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.emailValidated") :</td>
        <td><b>@if(!localUser.emailValidated && localUser.email) {<em>@Messages("lable.profile.emailValidatedNo") - <a href="@rvk.recipe.controllers.routes.Account.verifyEmail">@Messages("link.profile.emailValidate")</a></em>.} else {@Messages("lable.profile.emailValidatedYes").}</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.nickname") :</td>
        <td><b>@localUser.name</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.fullname") :</td>
        <td><b>@localUser.fullname</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.address") :</td>
        <td><b>@localUser.address</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.phone") :</td>
        <td><b>@localUser.telephoneNumber</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.lastLogin") :</td>
        <td><b>@rvk.recipe.controllers.Application.formatTimestamp(localUser.lastLogin)</b></td>
      </tr>
      <tr>
        <td>@Messages("lable.profile.roles") :</td>
        <td>
          <b>
        	@defining(localUser.getRoles()) { roles =>
        	  @if(roles.size() > 0) {
        		@for(r <- roles) {
        		  @r.getName(),
        		}
        	  }
        	}
          </b>
        </td>
      </tr>
    </table>
    <p>
      @defining(localUser.getProviders()) { providers =>
      	@if(providers.size() > 0) {
          @if(providers.size() ==1) {
            @Messages("lable.profile.provider")
          } else {
            @Messages("lable.profile.providers",providers.size().toString())
          }
          @for(p <- providers) {
            @_providerIcon(p)
          }
        }
      }
    </p>
    <p>
    @currentAuth() { auth =>
        @Messages("lable.profile.logged") @_providerIcon(auth.getProvider())<br/>
        @if(auth.expires() != -1){
            @Messages("lable.profile.session", auth.getId(), rvk.recipe.controllers.Application.formatTimestamp(auth.expires()))
        } else {
            @Messages("lable.profile.sessionEndless", auth.getId())
        }
    }
    <br/>
    <ul>
      <li><a href="@rvk.recipe.controllers.routes.Account.changePassword">@Messages("link.profile.changePassword")</a></li>
    </ul>
    </p>
}